/* line 40, ../_sass/_mixins.sass */
.visible-phone {
  display: none !important;
}

/* line 42, ../_sass/_mixins.sass */
.visible-tablet {
  display: none !important;
}

/* line 47, ../_sass/_mixins.sass */
.hidden-desktop {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  /* line 51, ../_sass/_mixins.sass */
  .visible-phone {
    display: inherit !important;
  }

  /* line 53, ../_sass/_mixins.sass */
  .hidden-phone {
    display: none !important;
  }

  /* line 55, ../_sass/_mixins.sass */
  .hidden-desktop {
    display: inherit !important;
  }

  /* line 57, ../_sass/_mixins.sass */
  .visible-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  /* line 61, ../_sass/_mixins.sass */
  .visible-tablet {
    display: inherit !important;
  }

  /* line 63, ../_sass/_mixins.sass */
  .hidden-tablet {
    display: none !important;
  }

  /* line 65, ../_sass/_mixins.sass */
  .hidden-desktop {
    display: inherit !important;
  }

  /* line 67, ../_sass/_mixins.sass */
  .visible-desktop {
    display: none !important;
  }
}
/* line 9, ../_sass/custom/_styles.sass */
html {
  font-size: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* line 9, ../_sass/custom/_styles.sass */
  html {
    font-size: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 9, ../_sass/custom/_styles.sass */
  html {
    font-size: 110%;
  }
}

/* line 16, ../_sass/custom/_styles.sass */
body {
  padding-top: 45px;
}
@media only screen and (max-width: 979px) {
  /* line 16, ../_sass/custom/_styles.sass */
  body {
    padding-top: 0;
  }
}

/* line 21, ../_sass/custom/_styles.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3em;
}

/* line 25, ../_sass/custom/_styles.sass */
h1 {
  font-size: 2.074rem;
}

/* line 27, ../_sass/custom/_styles.sass */
h2 {
  font-size: 1.728rem;
}

/* line 29, ../_sass/custom/_styles.sass */
h3 {
  font-size: 1.44rem;
}

/* line 31, ../_sass/custom/_styles.sass */
h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

/* line 35, ../_sass/custom/_styles.sass */
ul {
  list-style: circle;
}

/* line 38, ../_sass/custom/_styles.sass */
.home .hero-unit {
  background: #f3f3f3;
  padding: 60px;
}
@media only screen and (max-width: 480px) {
  /* line 38, ../_sass/custom/_styles.sass */
  .home .hero-unit {
    padding: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 38, ../_sass/custom/_styles.sass */
  .home .hero-unit {
    background: #f3f3f3 url(/images/eric-profile.jpg) no-repeat bottom right;
    background-size: 112.5px 144px;
    padding: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* line 38, ../_sass/custom/_styles.sass */
  .home .hero-unit {
    background: #f3f3f3 url(/images/eric-profile.jpg) no-repeat bottom right;
    background-size: 150px 192px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 38, ../_sass/custom/_styles.sass */
  .home .hero-unit {
    background: #f3f3f3 url(/images/eric-profile.jpg) no-repeat bottom right;
    margin-top: 10px;
  }
}

/* line 54, ../_sass/custom/_styles.sass */
.hero-unit h1 {
  font-family: Lobster, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 5rem;
}
@media only screen and (max-width: 480px) {
  /* line 54, ../_sass/custom/_styles.sass */
  .hero-unit h1 {
    display: none;
  }
}

/* line 61, ../_sass/custom/_styles.sass */
.navbar .brand {
  padding: 8px 20px 10px;
}
@media only screen and (max-width: 480px) {
  /* line 61, ../_sass/custom/_styles.sass */
  .navbar .brand {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1199px) {
  /* line 68, ../_sass/custom/_styles.sass */
  html .navbar-fixed-top .container {
    width: 940px;
  }
}
/* line 71, ../_sass/custom/_styles.sass */
.navbar .nav-social {
  list-style-type: none;
  position: relative;
  display: block;
  margin: 7px 0 0 0;
}
@media only screen and (max-width: 480px) {
  /* line 71, ../_sass/custom/_styles.sass */
  .navbar .nav-social {
    display: none;
  }
}
/* line 78, ../_sass/custom/_styles.sass */
.navbar .nav-social > li {
  display: block;
  float: left;
}
/* line 81, ../_sass/custom/_styles.sass */
.navbar .nav-social > li > a {
  line-height: 1em;
  padding: 6px;
}

/* line 85, ../_sass/custom/_styles.sass */
.nav-social svg path {
  fill: #eeeeee;
  stroke: none;
}
/* line 88, ../_sass/custom/_styles.sass */
.nav-social svg path:hover {
  fill: white;
}

/* line 91, ../_sass/custom/_styles.sass */
.label {
  padding: 0 4px 1px;
}

/* line 94, ../_sass/custom/_styles.sass */
.page-header {
  border-bottom: 0 none;
  font-family: "Lobster", "Open+Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 1rem 0;
}

/* line 101, ../_sass/custom/_styles.sass */
.about {
  font-size: 1.1em;
  list-style-type: none;
  padding-right: 80px;
}
@media only screen and (max-width: 480px) {
  /* line 101, ../_sass/custom/_styles.sass */
  .about {
    margin: 0 0 0 5px;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  /* line 101, ../_sass/custom/_styles.sass */
  .about {
    margin: 0;
  }
}

/* line 111, ../_sass/custom/_styles.sass */
.header-aside {
  float: right;
  font-weight: normal;
  font-size: 0.9em;
}

/* line 116, ../_sass/custom/_styles.sass */
.section {
  margin: 20px 0;
}

/* line 120, ../_sass/custom/_styles.sass */
.hentry h2, .hentry h3 {
  margin: 0.5rem 0;
}
/* line 122, ../_sass/custom/_styles.sass */
.hentry p {
  font-size: 1rem;
  line-height: 1.4em;
  margin: 0 0 1.5rem;
}
/* line 126, ../_sass/custom/_styles.sass */
.hentry p:first-child {
  font-size: 1.2rem;
}
/* line 128, ../_sass/custom/_styles.sass */
.hentry ul {
  margin-bottom: 1.5rem;
}
/* line 130, ../_sass/custom/_styles.sass */
.hentry em {
  background-color: ivory;
}
/* line 132, ../_sass/custom/_styles.sass */
.hentry .sharing {
  margin-bottom: 2rem;
}

/* line 135, ../_sass/custom/_styles.sass */
.promolist {
  color: #999999;
  list-style-type: none;
  margin: 0;
}
/* line 139, ../_sass/custom/_styles.sass */
.promolist li {
  border-bottom: 1px dotted #666666;
  padding: 6px 0;
}
@media only screen and (min-width: 1200px) {
  /* line 139, ../_sass/custom/_styles.sass */
  .promolist li {
    padding: 3px 0;
  }
}
@media only screen and (max-width: 768px) {
  /* line 144, ../_sass/custom/_styles.sass */
  .promolist time, .promolist .project-description, .promolist .watch {
    display: none;
  }
}
/* line 147, ../_sass/custom/_styles.sass */
.promolist time {
  color: #999999;
  float: right;
}
/* line 150, ../_sass/custom/_styles.sass */
.promolist .project {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 85%;
  overflow: hidden;
  display: inline-block;
}
/* line 156, ../_sass/custom/_styles.sass */
.promolist .project-description {
  color: #999999;
  padding-left: 10px;
  font-size: 0.9em;
}
/* line 160, ../_sass/custom/_styles.sass */
.promolist .watch {
  float: right;
}

/* line 163, ../_sass/custom/_styles.sass */
figure.highlight {
  border: 0 none;
  padding: 0;
  margin: 0 0 1.5em 0;
}

/* line 168, ../_sass/custom/_styles.sass */
p code, li code {
  border-radius: 3px;
  white-space: pre;
}

/* line 172, ../_sass/custom/_styles.sass */
.meta {
  font-size: 0.9rem;
}

/* line 175, ../_sass/custom/_styles.sass */
.img-center, .center {
  display: block;
  margin: 0 auto;
}

/* line 179, ../_sass/custom/_styles.sass */
.img-left {
  display: block;
  float: left;
  padding: 0 8px 4px 0;
}

/* line 184, ../_sass/custom/_styles.sass */
.img-right {
  display: block;
  float: right;
  padding: 0 0 4px 8px;
}

/* line 189, ../_sass/custom/_styles.sass */
.no-pad {
  padding: 0;
}

/* line 192, ../_sass/custom/_styles.sass */
.cheqlist-screenshots {
  margin: 0 auto;
  list-style-type: none;
}
/* line 195, ../_sass/custom/_styles.sass */
.cheqlist-screenshots li {
  display: inline-block;
  margin-bottom: 5px;
}

/* line 199, ../_sass/custom/_styles.sass */
.page-footer {
  background: #f3f3f3;
}
/* line 201, ../_sass/custom/_styles.sass */
.page-footer p {
  font-size: 0.8em;
}
/* line 203, ../_sass/custom/_styles.sass */
.page-footer .credit {
  float: right;
}

/* line 206, ../_sass/custom/_styles.sass */
.footer-wrapper {
  background: transparent url(/images/eric-profile.jpg) no-repeat bottom right;
  background-size: 100px 128px;
}
@media only screen and (max-width: 768px) {
  /* line 206, ../_sass/custom/_styles.sass */
  .footer-wrapper {
    background: transparent;
  }
}

/* line 212, ../_sass/custom/_styles.sass */
.related-posts {
  margin-left: 0;
}

/* line 215, ../_sass/custom/_styles.sass */
.related-posts ul {
  list-style-type: none;
  margin-left: 15px;
}

/* line 219, ../_sass/custom/_styles.sass */
.about-eric-footer {
  margin-left: 0;
}
/* line 221, ../_sass/custom/_styles.sass */
.about-eric-footer p {
  padding-right: 60px;
}

/* line 224, ../_sass/custom/_styles.sass */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  /* line 231, ../_sass/custom/_styles.sass */
  .container {
    width: auto;
    margin: 0 50px;
  }

  /* line 234, ../_sass/custom/_styles.sass */
  [class*="span"], .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }
}
/* line 241, ../_sass/custom/_styles.sass */
#adjacent h4 + p,
#indirect-adjacent h4 ~ p {
  font-weight: bold;
  color: red;
}
