{% include head.html %}
<body class="no-sidebar">
  <nav role="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">{% include navigation.html %}</nav>
  <div class="container" role="main">
    <div class="row">
      {{ content | expand_urls: site.url }}
    </div>
  </div>
  <footer role="contentinfo" class="page-footer">{% include post_footer.html %}</footer>
  {% include after_footer.html %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://www.eriwen.com",
    "name": "Eric Wendelin's Blog"
  }
 </script>
</body>
</html>
