{% unless page.no_header %}
  <header class="page-header">
    {% if index %}
      <h1 class="entry-title" itemprop="name"><a href="/{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      <h1 class="entry-title" itemprop="name">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
  </header>
{% endunless %}
{% if index %}
  <div class="entry-content" itemprop="articleBody">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ site.url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
<div class="entry-content">
{{ content }}
{% unless page.meta == false %}
<p class="meta">
    Posted on <time class="updated" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %d %Y" }}</time>
    under {% include post/categories.html %} by {% include post/author.html %}
    {% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
    | <a href="{% if index %}/{{ post.url }}{% endif %}#disqus_thread">Comments</a>
    {% endif %}
</p>
{% endunless %}
</div>
{% endif %}
